@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container {
    text-align: center;
    width: 75%;
    max-width: 550px;
    margin: 0 auto;
}

.conversion-header {
    background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 21%,
    hsl(315deg 100% 27%) 30%,
    hsl(329deg 100% 36%) 39%,
    hsl(337deg 100% 43%) 46%,
    hsl(357deg 91% 59%) 54%,
    hsl(17deg 100% 59%) 61%,
    hsl(34deg 100% 53%) 69%,
    hsl(45deg 100% 50%) 79%,
    hsl(55deg 100% 50%) 100%
    );
    color: white;
    padding: 2em 0;
}

.conversion-header__heading {
    font-size: 22px;
}

.conversion-header__input {
    margin: 0.25em auto 0;
    font-size: 98px;
    width: 50%;
    outline: none;
    border: none;
    text-align: center;
}

.btn {
    display: block;
    outline: none; 
    border: 2px solid white;
    margin: 2em auto 0;w
    width: 25%;
    padding: 0.75em;
    background-color: hsl(357deg 91% 59%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    color: hsl(357deg 91% 59%);
    border-color: hsl(357deg 91% 59%);
    background-color: white;
}

.conversion-display-cont {
    background-color: white;
    color: black;
    padding: 2em;
    font-size: 14px;
    cursor: pointer;
}

.conversion-display:not(.conversion-display:last-child) {
    margin-bottom: 3em;
}

.conversion-display__heading {
    font-weight: bold;
}

.conversion-display__paragraph {
    margin-top: 1em;
    opacity: 0.75;
}
